{{!-- Start Nav --}}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="template-demo">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        {{!--<li class="breadcrumb-item"><a href="/municipalities/list"> Litsa Administradores</a>
                        <li class="breadcrumb-item"><a href="#">Data</a></li> --}}
                        <li class="breadcrumb-item active" aria-current="page">Lista de Administradores</u></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{{!--End Nav --}}

{{!-- Button --}}
<div class="col-12">
    <div class="row">
        <div class="mb-3">
            <a href="/administrators/create" class="btn btn-inverse-primary btn-fw">Nuevo + </a>
        </div>
    </div>
</div>
{{!-- End button --}}

{{!-- Table --}}
<div class="card">
    <div class="card-body">
        <div class="col-12">
            <div class="row">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>
                                    Nº
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    email
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each administrators }}
                            <tr>
                                <td>{{admin_id}}</td>
                                <td>{{username}}</td>
                                <td>{{name}}</td>
                                <td>{{lastname}}</td>
                                <td>{{email}}</td>
                                <td>{{#stateDetails active}}{{/stateDetails}}
                                </td>
                                <td>
                                    <a  href="/administrators/{{admin_id}}/update-view" class="btn btn-inverse-dark">
                                        Actualizar
                                    </a>
                                    <button type="button" class="btn btn-inverse-danger" data-bs-toggle="modal" data-bs-target="#activeUpdate-{{@index}}">
                                        Deshabilitar
                                    </button>
                                </td>
                            </tr>
                            
                            {{!-- Modal --}}
                            <div class="modal fade" id="activeUpdate-{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Understood</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- End Modal --}}


                            {{/each}}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
{{!-- End Table --}}
